<h1> <%= @listing.title %> </h1>

<%# If the listing has a picture attached %>
<% if @listing.picture.attached? %>
    <%# the image associated with the listing %>
    <%# styling inline for now %>
    <%= image_tag  @listing.picture, style: "width: 200px" %>
<% end %>
<%= number_to_currency(@listing.price) %>
<br>
Seller's email: <%= @listing.user.email %>
<br>
<%# if current user is equal to the user that created the listing, then we render the edit link %>
<% if current_user.id == @listing.user.id %>
    <%= link_to "edit", edit_listing_path(@listing.id) %>

    <%# makes a new form with the listing model, Ajax, delete request %>
    <%= form_with model: @listing, local: true, method: :delete do |form| %>
        <%= submit_tag %>
    <% end %>

<% end %>

<br>
<p>
    <%= @listing.description %>
</p>