<!DOCTYPE html>
<html>
  <head>
    <title>MusicalMarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%# yield represents all of the content for a page - put above for login etc to have at top %>
    <%= yield %>
  </body>
</html>
